:root {
    font-size: 16px;
    --green: #00ca4e;
    --red: #ff605c;
    --yellow: #ffbd44;
    --lBlack: #2c2c2c;
    --dBlack: #131313;
    --placeholder: #3d3d3d;
    --offWhite: #f3f3f3;
    --Gray: #bbbbbb;
    --dGray: #3d3d3d;
    --blue: #2c44b0;
}

* {
    box-sizing: border-box;
  }

body{
    font-family: "Roboto Light", sans-serif;
    background-color: var(--lBlack);
    color: var(--offWhite);
    margin:0;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

.btn{
    color: var(--offWhite);
    background-color:#3d3d3d;
    text-decoration: none;
    margin: .5em 0;
}

.btn :hover{
 size: 50em;
}

h1, h4{
    display: block;
    margin: 1em;
    height: auto;
}

.grid{
    display: grid;
    grid-template-columns: 10fr;
    grid-template-rows: 1fr ;
    margin: auto;
    align-content: baseline;
    line-height: 3em;
}

/*  SMALL MOBILE DEVICES */
@media screen and (max-width: 414px) {
    .gridContainer {
        grid-template-columns: 0 1fr 0;
    }
}

#project-container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;  
}

/*STYLING OF CREATED PROJECT BOXES*/
.projectBoxes{
    background-color: --dBlack;
    background: radial-gradient(rgb(36, 34, 34), rgb(10, 9, 9));
    box-shadow: 7px 2px 5px 2px black;
    border:solid black;
    border-radius: 20px;
    margin :1em;
}

.project-link{
    text-decoration: none;
    color: var(--Gray);  
}

.project-name-text{
    color: var(--dGray);
    margin: 20px;
}

.project-name-header{
    margin: 20px;
    color: rgb(31, 82, 141);  
}

.project-description{
    margin-top: 20px;
    color: cadetblue;
    color: var(--dGray);
}

.project-dates{
    margin: 5px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 14px;
    color: var( --Gray);
}

/* ICON FOR ADD NEW PROJECT */
.add{
    height: 200px;
    width: 50%;
}

/* BUTTON */
button {
	width: 170px;
	height: 50px;
	border-radius: 30px;
	background-color: var(--dBlack);
	border: 1px solid var(--Gray);
	outline: none;
	color: var(--Gray);
	font-weight: bold;
}


/* RESET STYLING */

[value~=Reset]{width: 170px;
	height: 50px;
	border-radius: 30px;
	background-color: var(--dBlack);
	border: 1px solid var(--Gray);
	outline: none;
	color: var(--Gray);
	font-weight: bold;
}