:root {
    --green: #00ca4e;
    --red: #ff605c;
    --yellow: #ffbd44;
    --lBlack: #2c2c2c;
    --dBlack: #131313;
    --placeholder: #3D3D3D;
    --offWhite: #F3F3F3;
    --Gray: #BBBBBB;
    --dGray: #3D3D3D;
    --blue: #2c44b0;


}

* {
    letter-spacing: 0.3px;
}
body {
    background-color: var(--dBlack);
}


#actionForm {
    position: absolute;
    top:60px;
    margin:10px 200px;
    padding: 5px;
    left: 10px;
}


.forms{
    width: 500px;
    height: 40px;
    margin: 3rem auto;
    border-radius: 30px;
    position: relative;
    top: 60px;

}

h4{
    font-family: "Roboto Light",sans-serif;
    font-style:normal;
    font-weight: normal;
    color:var(--offWhite);
    font-size: 23px;
    padding: 10px 10px;
    margin:50px;
    text-align: center;

}

#taskText{
    border-radius: 5px;
    border: var(--offWhite) solid 1px;
    width: 150px;
    height: 25px;
    text-align: center;
    font-style: italic;
    margin:10px -17px;
    padding: 1px 1px;
    display: table-cell;
    color: rgba(0,0,0,0.5);
}

#taskText:focus,
#taskText:valid{
    color: var(--dBlack);
}

label[for=taskText]{
    position: relative;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto Light",sans-serif;
    color: var(--offWhite);
    text-decoration: none;
    right: 20px;
}

#priorities{
    border-radius:5px;
    border: var(--offWhite) solid 1px;
    width: 150px;
    height: 25px;
    text-align: center;
    margin-left: 85px;
    padding: 1px 1px;
    display: table-cell;
}

label[for=priorities]{
    position: relative;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto Light",sans-serif;
    text-decoration:none;
    left:80px;
    color: var(--offWhite);
}


#taskStartDate{
    border-radius: 5px;
    border: var(--offWhite) solid 1px;
    width: 150px;
    height: 25px;
    text-align: center;
    margin:10px -10px;
    padding: 1px 1px;
    display: table-cell;

}
label[for=taskStartDate]{
    position: relative;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto Light",sans-serif;
    text-decoration: none;
    right: 15px;
    color:var(--offWhite);
}


#taskEndDate{
    border-radius:5px;
    border: var(--offWhite) solid 1px;
    width: 150px;
    height: 25px;
    text-align: center;
    margin-left: 62px;
    padding: 1px 1px;
    display: table-cell;

}

label[for=taskEndDate]{
    position: relative;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto Light",sans-serif;
    text-decoration:none;
    left: 60px;
    color: var(--offWhite);
}

input[type=date]{
    color: rgba(0,0,0,0.5);
}

input [type=date]:focus,
input[type=date]:valid{
    color:var(--dBlack);
}

h3{
    font-family: "Roboto Light",sans-serif;
    font-style:normal;
    font-weight: normal;
    text-align: center;
    color:var(--offWhite);
    font-size: 22px;
    margin-top: 260px;
    margin-bottom: 5px;
    padding: 0px;

}
.delegateTasks{
    position: relative;
    top:50px;
    float: right;
    margin:1px 260px;
    padding: 1px;
    right: 10px;

}


#userList{

    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    border: var(--offWhite) solid 1px;
    width: 155px;
    height: 30px;



}
label[for=userList]{
    position: relative;
    text-decoration:none;
    right:8px;
    color: var(--offWhite);


}

#userList:focus,
#userList:valid{
    color: var(--dBlack);
}


#taskList{
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
    vertical-align: middle;
    border-radius:5px;
    border: var(--offWhite) solid 1px;
    width: 160px;
    height: 30px;
    margin-left: 40px;


}

label[for=taskList]{
    position: relative;
    text-decoration:none;
    left: 35px;
    color: var(--offWhite);

}

#taskList:focus,
#taskList:valid{
    color: var(--dBlack);
}

input[value="Create Task"]{
    justify-content: center;
    display:block;
    padding: 1em 1em;
    margin: 3em 13em;
    top: 223px;
    left:190px;
    position: relative;
    width:145px;
    height:35px;
    border-radius: 3em;
    border: var(--offWhite) solid 0.5px;
    box-sizing: border-box;
    font-family: "Roboto Light",sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform:none;
    text-align: center;
    color:var(--dBlack);
    background-color:var(--Gray);
    opacity: 90%;
    transition: all 0.2s;

}

input[value="Create Task"]:hover{
    background-color:var(--dGray);
    color:var(--offWhite);
    opacity: 80%; }


input[value="Submit"]{
    display:block;
    padding: 0.5em 1em;
    margin: 1em 13em;
    position: relative;
    width:97px;
    height:30px;
    border-radius: 3em;
    border: black solid 0.5px;
    box-sizing: border-box;
    font-family: "Roboto Light",sans-serif;
    float: right;
    left:160px;
    top: 1px;
    font-weight: 300;
    text-transform:none;
    text-align: center;
    color:var(--dBlack);
    background-color:var(--Gray);
    opacity: 90%;

}


